<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SabtiManagement.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="WindowsFormsApplication3.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="SabtiManagement.Properties.Settings.MyDatabaseConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=&quot;C:\Users\Hasan\Documents\Visual Studio 2015\Projects\SabtiBusinessLocal\WindowsFormsApplication3\bin\Debug\MyDatabase.mdf&quot;;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
    </startup>
    <userSettings>
        <SabtiManagement.Properties.Settings>
            <setting name="prgress" serializeAs="String">
                <value>False</value>
            </setting>
        </SabtiManagement.Properties.Settings>
        <WindowsFormsApplication3.Properties.Settings>
            <setting name="prgress" serializeAs="String">
                <value>False</value>
            </setting>
        </WindowsFormsApplication3.Properties.Settings>
    </userSettings>
</configuration>
